.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btnContainer{
    display: flex;
    justify-content: center;

}

button {
    margin: 30px 10px;
    width: 200px;   
    height: 100px;
    border-radius: 50px;
    font-size: 2rem;
}

button:hover{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}

h1{
    font-size: 5rem;
}

#inputSeconds{
    width: 300px;
    height: 100px;
    text-align: center;
    font-size: 2rem;

}

#displayTimer{
    margin: 10px;
    border: 2px solid red;
    width: 200px;
    height: 200px;
    font-size: 10rem;
    text-align: center;
}